<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tela de login</title>
</head>
<body>

<div>
    <h4>Login</h4>
    <form method="post">
        {% csrf_token %}
<!-- automaticamente quando eu logar vou ser mandado para onde configurei o LOGIN_REDIRECT_URL = '/' como logout-->
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.username }}
        {{ form.password }}
        <button type="submit">Entrar</button>
    </form>
</div>

</body>
</html>